<h1>Data Binding</h1>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    aria-label="Username"
    aria-describedby="basic-addon1"
    [(ngModel)]="username"
    (input)="onUpdateUser()"
  />
</div>
<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="usernameIsEmpty"
  (click)="resetUserName()"
>
  Check
</button>
